ul {
  font-family: "playfair";
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  margin-top: -50px;
  height: 100%;
  font-weight: bold;
}

.link {
  text-decoration: none;
  padding: 5px 4%;
  color: #fff;
}

.link:hover {
  cursor: pointer;
  background-color: #fff;
  color: rgba(75, 20, 10);
}
