.body-add-user {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.form {
  text-align: center;
}

.area {
  height: 45px;
  margin-bottom: 20px;
}

.input_area,
.select_area,
.date_area {
  background-color: rgb(75, 20, 10, 0.5);
  border: 0;
  height: 40px;
  border-radius: 10px;
  width: 100%;
  color: #fff;
}

.input_area:focus,
.select_area:focus,
.date_area:focus {
  outline: none;
}

.input_area::placeholder {
  padding-left: 10px;
  color: #fff;
}

.input_area:-webkit-autofill {
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: 0 0 0 30px rgb(75, 20, 10, 0.5) inset;
}

.password {
  position: relative;
}

.eye {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 13px;
}

.signup,
.signup_employee {
  background-color: #4b140a;
  width: 50%;
  height: 40px;
  margin-top: 20px;
  border: 0;
  border-radius: 10px;
  box-shadow: 6px 8px 5px 0px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  font-size: 20px;
  font-family: playfair;
  color: #fff;
  font-weight: bold;
}

.signup_employee {
  width: 100%;
}

.error {
  color: #4b140a;
  font-size: 15px;
  font-family: playfair;
  margin: 2px 20% 0;
}

.make_login {
  font-family: playfair;
  font-size: 35px;
  color: #1c1733;
  font-weight: bold;
  margin-bottom: 48px;
  width: 322px;
}

.account {
  font-family: playfair;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 30px;
}

.create {
  color: #4297ff;
  margin-left: 10px;
  cursor: pointer;
}

.select_area option {
  color: #fff;
}

.select_area:first-child {
  color: #fff;
}

.date_area {
  color: #fff;
}

.date_area::-webkit-calendar-picker-indicator {
  filter: invert(1);
  padding-right: 10px;
}
