.container-home {
  text-align: center;
}

.options-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.options-main div {
  font-family: "fairplay";
  font-size: 50px;
  font-weight: bold;
}

.link-home {
  text-decoration: none;
  padding: 5px 4%;
  color: rgba(75, 20, 10);
}

.link-home:hover {
  cursor: pointer;
  background-color: #fff;
  color: rgba(75, 20, 10);
}
