@font-face {
  font-family: "playfair";
  font-style: normal;
  font-weight: normal;
  src: url("../../../../public/fonts/playfair.ttf");
}

* {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  /* height: 102px; */
}

.sidebar {
  width: 150px;
  background-color: rgba(75, 20, 10);
  height: 100vh;
  position: fixed;
  top: 104px;
}

.main-user {
  position: absolute;
  top: 104px;
  left: 150px;
  color: #f00;
  padding: 4%;
  width: 100%;
  width: calc(100% - 300px);
}
