.body-header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #000;
  padding: 25px 0;
}

.right {
  display: flex;
  align-items: center;
  margin-right: 5%;
}

.picture-profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
