.container {
  display: flex;
  justify-content: space-evenly;
}

.container div {
  width: 50%;
}

.input_add_role {
  background-color: rgba(75, 20, 10);
  border: 2px solid #9892a5;
  border-radius: 5px;
  height: 30px;
  color: #fff;
}
.input_add_role::placeholder {
  color: #fff;
  /* padding-left: 10px; */
  font-size: 15px;
}

.send_role_button {
  background-color: rgba(75, 20, 10);
  color: #fff;
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
}

.roles {
  color: rgba(75, 20, 10);
}
.role_option {
  display: flex;
  justify-content: center;
  color: rgba(75, 20, 10);
  font-size: 20px;
  font-family: "playfair";
}

.roles div {
  display: flex;
  padding-bottom: 10px;
  align-items: center;
  text-transform: capitalize;
  justify-content: center;
}

.deleteRole {
  cursor: pointer;
}
